*{
    box-sizing: border-box;
    margin: 0;
}
.result-Count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: rgb(140, 236, 237);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.result-Count p{
    font-size: 20px;
}
#sort{
    font-size: 18px;
    padding: 2px 5px;
}
main{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.filter{
    padding: 50px 30px 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-right: 3px solid black;
}
.filter>div{
    padding: 10px 0px;
    border-bottom: 2px dashed black;
    line-height: 20px;
}
.filter-heading{
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding: 10px !important;
    display: flex;
    align-items: center;
}
.filter-heading>ion-icon{
    font-size: 20px;
}
.filter-reset{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: orange;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;
    border: none;
}
.filter-apply{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: rgb(88, 88, 246);
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;
    border: none;
}
.filter-apply:hover,.filter-reset:hover{
    cursor: pointer;
}
.filter-apply:active,.filter-reset:active{
    background-color: aqua;
}
.filter>div>input{
    margin-right: 10px;
}
.filter>div>h3{
    margin-bottom: 10px;
}
.search-Content{
    width: 70%;
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.search-items{
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
}
.search-items>ion-icon{
    color: black;
    font-size: 80px;
    border: 1px solid black;
    padding: 10px;
}
.price{
    font-size: 25px;
    font-weight: 600; 
}
.price>sup{
    font-size: 15px;
    font-weight: 400;
}
.content{
    line-height: 30px;
}
label[for="Keyword"]{
    display: none;
}
label[for="company"]{
    margin-left: 10px;
}
